{{ define "main" }}
<article style="margin-left: 20%; max-width: 60%; padding: 2rem 1rem;">
  <header style="margin-bottom: 2rem;">
    <h1 style="font-size: 2rem; margin-bottom: 0.5rem;">{{ .Title }}</h1>
    {{ if not .Date.IsZero }}
      <time style="color: gray;" datetime="{{ .Date.Format "2006-01-02" }}">
        {{ .Date.Format "January 2, 2006" }}
      </time>
    {{ end }}
  </header>

  <section style="line-height: 1.7; font-size: 1.2rem; color: #444;">
    {{ .Content }}
  </section>
</article>
{{ end }}
